.container {
  text-align: center;
  margin: 0 auto;
  padding: 0px;
  height: 100%;
  width: 80vw;
}

.main {
  text-align: center;
}

.col {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}