.tabs-underlined {
  display: inline-block;
  align-items: center;
  font-size: 22px;
  padding-top: 0px;
  line-height: 300%;
  text-align: center;
}

.tabs-underlined .tab-underlined {
  color: rgb(54, 54, 54);
  padding: 0px;
  margin: 0px;
  opacity: .4;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 4px solid transparent;
}

.tabs-underlined .tab-underlined.active {
  opacity: 1;
  border-bottom: 3px solid #555555;
}

:root {
  --hauteur-menu: 50px;
}

* {
  margin: 0px;
  padding: 0px;
}

nav {
  position: relative;
  z-index: 10;
  width: 100%;
  font-size: 22px;
  /* position: sticky; */
  top: 0;
}

nav>ul {
  padding: 10px 0px 10px 0px;
  display: flex;
  text-align: center;
  box-shadow: 0px 1px 2px 1px rgba(127, 173, 43, 0.3);
  height: var(--hauteur-menu);
}

nav ul {
  list-style-type: none;
}

nav>ul>li {
  background-color: white;
  position: relative;
  flex: 1;
}

nav>ul>li>a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

li a {
  text-decoration: none;
  color: rgb(127, 173, 43);
}

li.menu-deroulant {
  width: auto;
}

.menu-deroulant>a:after {
  content: 'â¯';
  font-size: 22px;
  margin-left: 7px;
  display: inline-block;
}

.sous-menu {
  margin-top: var(--hauteur-menu);
  width: auto;
  font-size: 22px;
  text-align: center;
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
  max-height: 0;
}

.sous-menu>li>a {
  height: 50px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  align-items: center;
  display: flex;
}

nav>ul>li:hover>a {
  color: #4e6c16;
}

.sous-menu>li:hover {
  background-color: rgba(0, 222, 63, 0.3);
}

.sous-menu>li:hover>a {
  color: #4e6c16;
}

@keyframes rotationFleche {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(90deg);
  }
}

.menu-deroulant:hover>a:after {
  animation: rotationFleche 0.2s linear forwards;
}

@keyframes apparitionSousMenu {
  0% {
    box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0);
    border-top: 3px solid #7FAD2B;
  }

  30% {
    box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.3);
  }

  100% {
    max-height: 50em;
    border-top: 3px solid #7FAD2B;
    box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.3);
  }
}

.menu-deroulant:hover>.sous-menu {
  animation: apparitionSousMenu 1s forwards;
}
